
  body {
    background: url('images/bg1.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #4E4C4A;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .discdiv {
    background-color: rgb(255 255 255 / 70%);
    border-radius: 5px;
    padding: 20px 0px;
    margin: 20px 0px;
  }

 

  @media (min-width: 992px) {
    .discdiv {
      width: 560px;
      float: right;
    }

    
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  .riselogodiv {
    padding: 40px;
  }

 

  .centerbtn,.centerbtn:hover,.centerbtn:active,.centerbtn:focus {
    width: 100%;
    border: 1px solid black;
    color: #000000;
    /* background: white; */
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0rem;
    outline: none;
    font-weight: 600;
  }
  .loungebtn{
    width: 100%;
   
    color: #ffffff;
    background: #BD8B13;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0rem;
    outline: none;
    font-weight: 600;
  }
   .loungediv .btn:disabled{
    color: #000000 !important;
    background: white !important;
    font-weight: 400;
   }

  .btndiv {
    padding: 20px 10px 10px 10px;
    max-width: 274px;
    margin: auto;
  }
  .selectdiv{
    padding: 20px 50px 10px;
   
    margin: auto;
  }
  .selectpicker{
    width: 100%;
    padding: .375rem .75rem;
  }
.data-info{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-family: inherit;
}
.formdiv{
    margin: 30px auto;
    max-width: 800px;
    padding: 10px ;
    background-color: rgb(255 255 255 / 70%);
}
.formclass{
  
    padding: 10px 20px 20px ;
    
}
.formclass .form-control{
color: black;

}
.validatebtn, .validatebtn:hover,.validatebtn:active,.validatebtn:focus,
#userlist .validatebtn.form-control:disabled {
    background-color: #4E4C4A;
    color: white !important;
    outline: none;
    box-shadow:none
    
}
.validatediv .form-control:disabled,
.validatediv .form-control:disabled:focus,
.validatediv .form-control:disabled:hover,
.validatediv .form-control:disabled{
    color: #000000 !important;
    background: white !important;
    font-weight: 400;
}
/* // workaround */
.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}
.submitbtn{
  width: 100%;
   
  color: #ffffff;
  background: #BD8B13;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0rem;
  outline: none;
  font-weight: 600;
  margin-bottom: 1rem;
}

.resetbtn{
  width: 100%;
   
  color: #ffffff;
  background: #4E4C4A;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0rem;
  outline: none;
  font-weight: 600;
  margin-bottom: 1rem;
}

.submitform .btn:disabled,
.submitform .btn:disabled:focus,
.submitform .btn:disabled:hover,
.submitform .btn:disabled{
    color: #b7b9bc !important;
    background: white !important;
    font-weight: 600;
}
.txtarea{
  resize: none;
}

.formclass label{
  margin-top: 1rem;
}

.errmsg{
  color: red;
  font-size: 1rem;
}

/* guest */
.goback{
  color: #ffffff;
  background: #BD8B13;
  padding: .375rem .75rem;
  margin: -10px;
}
.gobacktxt{
  cursor: pointer;
}
.btn-scan{
  color: #ffffff;
  background: #BD8B13;
  padding: .375rem .75rem;
 margin-right: 10px;
}

/* yuiop */

label.cameraButton {
  display: inline-block;
  /* Styles to make it look like a button */
  padding: 0px 14px 5px 14px;
  border: 2px solid #FFF;
  border-color: #EEE #CCC #CCC #EEE;
  background-color: transparent;
  cursor: pointer;
 max-width:70%;
 min-width: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: .5rem;
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="camera"] {
  display: none;
}